{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "array-bracket-spacing": [
      "off",
      "never"
    ],
    "arrow-spacing": "off",
    "block-spacing": "off",
    "brace-style": [
      "off",
      "stroustrup"
    ],
    "constructor-super": "error",
    "curly": [
      "error",
      "all"
    ],
    "eol-last": "off",
    "eqeqeq": "error",
    "indent": [
      "off",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "jsx-quotes": [
      "off",
      "prefer-double"
    ],
    "keyword-spacing": [
      "off",
      {
        "after": true
      }
    ],
    "max-len": [
      "off",
      120,
      2,
      {
        "ignoreUrls": true
      }
    ],
    "no-console": "warn",
    "no-const-assign": "error",
    "no-duplicate-imports": "error",
    "no-trailing-spaces": "off",
    "no-unused-vars": "warn",
    "no-use-before-define": "error",
    "no-useless-concat": "error",
    "no-var": "error",
    "prefer-const": "error",
    "prefer-template": "error",
    "quotes": [
      "off",
      "single"
    ],
    "radix": [
      "error",
      "always"
    ],
    "react/jsx-key": "error",
    "react/no-is-mounted": "error",
    "react/prefer-es6-class": "warn",
    "react/prop-types": [
      "off"
    ],
    "require-jsdoc": [
      "off",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": false
        }
      }
    ],
    "rest-spread-spacing": [
      "off",
      "never"
    ],
    "semi": [
      "off",
      "always"
    ],
    "template-curly-spacing": [
      "off",
      "never"
    ]
  }
}
